# Sanal Ortam (Çok yer kaplar, yüklenmez)
.venv/

# Veri Setleri
data/

# Model Ağırlıkları, Loglar ve Çıktılar
logs/

# Sadece model ağırlıklarını ve klasörünü engelle
*.pt
*.pth
results/models/

# PyCharm ve Python Geçici Dosyaları
.idea/
__pycache__/
*.pyc